.deps/
.libs/
.*.swp
Makefile
Makefile.in
aclocal.m4
configure
config.*
gtk-doc.make
INSTALL
libtool
m4/gtk-doc.m4
m4/libtool.m4
m4/lt*.m4
*~
*.cache
*.gir
*.la
*.lo
*.o
*.pc
*.stamp
*.typelib
*.tar.*
*.gcno
*.gcda
build-aux
*dbus*gen*
data/gumd.conf
src/daemon/gumd
src/daemon/dbus/gumd-dbus.conf
test/common/commontest
test/daemon/daemontest
test/lib/clienttest
test/data/services/org.O1.SecurityAccounts.gUserManagement.service
test/data/test-gumd-dbus.conf
src/utils/gum-utils
stamp-h1
docs/gumd-decl-list.txt
docs/gumd-decl.txt
docs/gumd-overrides.txt
docs/gumd-sections.txt
docs/gumd-undeclared.txt
docs/gumd-undocumented.txt
docs/gumd-unused.txt
docs/gumd.args
docs/gumd.hierarchy
docs/gumd.interfaces
docs/gumd.prerequisites
docs/gumd.signals
docs/gumd.types
docs/html/
docs/version.xml
docs/xml/

